<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
    <script src="__PUBLIC__/home/js/jquery.js" type="text/javascript"></script>
</head>
<body>
<!--<a href="#" onclick="upload()">编辑头像</a>

&lt;!&ndash;<input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">&ndash;&gt;
    <script>
        function upload(){
           return $('#upload').click();
        }
    </script>-->

<a href="#" onclick = "upload();">编辑头像</a>

<input type="file" accept="video/*;capture=camcorder" id="File" style="display: none">
<script>
    function upload() {
        return $("#File").click();
    }
</script>
</body>
</html>