<ul class="nav navbar-nav side-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 会员管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('member/index')}">普通会员</a></li>
            <li><a href="{:U('member/groceryMember')}">商户会员</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="{:U('category/index')}"><i class="fa fa-reorder"></i> 分类管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('article/index')}"><i class="fa fa-edit"></i> 文章管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('course/index')}"><i class="fa fa-file-text-o"></i> 课程管理 </a>
    </li>
    <li class="dropdown">
        <a href="{:U('order/index')}"><i class="fa fa-dashboard"></i> 订单管理</a>
    </li>
     <li class="dropdown">
        <a href="{:U('links/index')}"><i class="fa fa-link"></i> 链接管理</a>
    </li>
    <!--<li class="dropdown">-->
        <!--<a href="{:U('point/index')}"><i class="fa fa-link"></i> 积分管理</a>-->
    <!--</li>-->
    <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 系统设置 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('setting/index')}">自定义字段</a></li>
            <li><a href="#">系统优化</a></li>
            <li><a href="#">缓存管理</a></li>
        </ul>
    </li>-->
</ul>