<include file="Public/header" title="后台主页" />
<section class="rt_wrap content mCustomScrollbar">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h2>欢迎使用小宝课堂商户管理后台</h2>
                    <p>1.系统基本功能如下:</p>
                    <ul class="function">
                        <li>我的订单</li>
                        <li>我的课程</li>
                        <li>我的文章</li>
                        <li>我的设置</li>
                    </ul>
                    <p><span class="pull-right">网站首页: <a href="http://www.123bcb.com" target="_blank">http://www.123bcb.com</a> </span></p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.row -->


    </div>
</section>


<include file="Public/footer" />