<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>创建课程</title>
    <!--<link href="__STATIC__/css/bootstrap.css" rel="stylesheet">-->
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css" />
    <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css">
    <!--[if lt IE 9]>

    <![endif]-->
    <script src="__STATIC__/js/jquery-1.10.2.js"></script>
    <script src="__STATIC__/js/bootstrap.js"></script>
    <script src="__STATIC__/js/app.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script src="__STATIC__/js/prettify.js"></script>
    <script src="/Public/home/js/setImagePreview.js"></script>
</head>
<body>
<!--header-->
<header>
    <h1><img src="__STATIC__/images/admin_logo.png"/></h1>
    <ul class="rt_nav">
        <li><a href="http://www.123bcb.com" target="_blank" class="website_icon">站点首页</a></li>
        <li><a href="#" class="admin_icon">{:session('username')}</a></li>
        <li><a href="{:U('index/setup')}" class="set_icon">修改密码</a></li>
        <li><a href="{:U('login/logout')}" class="quit_icon">安全退出</a></li>
    </ul>
</header>

<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="{:U('index/index')}">起始页</a></h2>
    <ul>
        <li>
            <dl>
                <dt>会员管理</dt>
                <!--当前链接则添加class:active-->
                <dd><a href="{:U('member/index')}">普通会员</a></dd>
                <dd><a href="{:U('member/groceryMember')}">商户会员</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>分类管理</dt>
                <dd><a href="{:U('category/index',array('tab'=>1))}">分类列表</a></dd>
                <dd><a href="{:U('category/add')}">添加分类</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>文章管理</dt>
                <dd><a href="{:U('article/index')}">文章列表</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>课程管理</dt>
                <dd><a href="{:U('course/index')}">课程列表</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>订单管理</dt>
                <dd><a href="{:U('order/index')}">订单列表</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>链接管理</dt>
                <dd><a href="{:U('links/index')}">链接列表</a></dd>
            </dl>
        </li>
        <!--<li>
            <dl>
                <dt>积分管理</dt>
                <dd><a href="{:U('point/index')}">积分列表</a></dd>
            </dl>
        </li>-->
        <li>
            <p class="btm_infor">© 小宝课堂 版权所有</p>
        </li>
    </ul>
</aside>
<script>
    $(function(){
        $('a').each(function () {
            var href = window.location.href;
            if(href.indexOf($(this).attr('href')) != -1 && $(this).attr('href') !='http://www.123bcb.com'){
                $(this).addClass('active');
                return false;
            }
        });
    });
</script>
<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="detail"]', {
            cssPath : '__PUBLIC__/kindeditor/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson : '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager : true,
            afterCreate : function() {
                var self = this;
                K.ctrl(document, 13, function() {
                    self.sync();
                    K('form[name=article]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function() {
                    self.sync();
                    K('form[name=article]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
<div class="scroll-wrap" style="height: 800px;overflow-y:scroll;">
    <section class="rt_wrap content mCustomScrollbar">
        <div id="page-wrapper">
            <form method="post" action="{:U('course/add')}" enctype="multipart/form-data" id="image">
                <div class="form-group">
                    <label for="aa">课程名称</label>
                    <input type="text" name="name" class="form-control" id="aa" placeholder="输入课程名称" >
                </div>
                <div class="form-group">
                    <label for="bb">课程图片(请上传192px*128px的图片)</label>
                    <div id="localImage" class="img"><img id="preview" class="pic" style="width: 192px;"/></div>
                    <input type="file" name="image"  id="File" onchange="javascript:setImagePreview();">
                </div>

                <div class="form-group">
                    <label for="cc">课程价格</label>
                    <input type="text" name="price" class="form-control" id="cc" placeholder="输入课程价格,小数点后最多保留两位" >
                </div>
                <div class="form-group">
                    <label for="dd">课程类别</label>
                    <p class="select1">
                        <select id="select_1" name="cate1" onchange="loadCate(this.value)" >
                            <option>--未选择--</option>
                            <foreach name="cate1" item="c">
                                <option value="{$c['id']}" >{$c['title']}</option>
                            </foreach>
                        </select>
                        <select id="select_2" name="cate2">
                            <option>--未选择--</option>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    <label> 校 区 </label>
                    <p class="select1">
                        <select class="select_1" name="grocery" onchange="loadSch(this.value,this)" style="display: inline">
                            <option>--未选择--</option>
                            <foreach name="grocery" item="g">
                                <option value="{$g['id']}" >{$g['name']}</option>
                            </foreach>
                        </select>
                        <select class="select_2" name="branchId" style="display: inline">
                            <option>--未选择--</option>
                        </select>
                    </p>
                </div>
                <!--<div class="form-group">-->
                <!--<label for="ee">年龄</label><br>-->
                <!--<select id="ee" name="age">-->
                <!--<option value="3 - 12" <?php if($course['age'] == '3 - 12'){echo 'selected';}?> >3 - 12</option>-->
                <!--<option value="12 - 18" <?php if($course['age'] == '12 - 18'){echo 'selected';}?> >12 - 18</option>-->
                <!--</select>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="dd">课程详情(请输入课程详情，包括标点符号不超过500个字)</label>
                    <textarea name="detail" id="dd" cols="30" rows="10" class="form-control" placeholder="请输入课程详情，包括标点符号不超过500个字"></textarea>
                </div>
                <div class="form-group">
                    <label>设置推广</label>
                    <input type="radio" name="extension" value="1" <?php if($course['extension'] == 1){echo 'checked';} ?>>是&nbsp;
                    <input type="radio" name="extension" value="0" <?php if($course['extension'] == 0){echo 'checked';} ?>>否
                </div>
                <button type="submit" class="btn btn-default">保存</button>&nbsp;
                <button type="submit" class="btn btn-default" onclick="javascript:history.back(-1);">取消</button>
            </form>
            <script>
                function insertOption(x,text,value)
                {
                    //console.log(x)
                    var y=document.createElement('option');
                    y.text= text;
                    y.value= value;
                    try
                    {
                        x.add(y,null); // standards compliant
                    }
                    catch(ex)
                    {
                        x.add(y); // IE only
                    }
                }

                function loadSch(groId,thisobj) {
                    var obj = $(thisobj).parent().parent().find('.select_2');
                    ajaxbranch(groId,obj);
                }
                function ajaxbranch(groId,obj,branchId){
                    $.ajax({
                        type:'post',
                        traditional :true,
                        url:"{:U('Course/get_branch')}",
                        data:{'groId':groId},
                        success:function(data){
                            $(obj).children().each(function(i){
                                $(this).remove();
                            });
                            var html = '';
                            for(var i=0; i<data.length; i++) {
                                if (data[i].id == branchId) {
                                    html += "<option value=" + data[i].id + " selected>" + data[i].braname + "</option>";
                                } else {
                                    html += "<option value=" + data[i].id + ">" + data[i].braname + "</option>";
                                }
                            }
                            $(obj).html(html);
                        }
                    });
                }
                function loadCate(pid) {
                    var obj = document.getElementById('select_2');

                    $.ajax({
                        type:'post',
                        traditional :true,
                        url:"{:U('Course/get_next_cate')}",
                        data:{'pid':pid},
                        success:function(data){
                            $(obj).children().each(function(i){
                                if(this.value != -1){
                                    $(this).remove();
                                }
                            });
                            for(var i=0; i<data.length; i++){
                                insertOption(obj,data[i].title,data[i].id);
                            }
                        }
                    });
                }
                $(function () {
                    $('[name=detail]').blur(function(){
                        if($(this).val().length > 5000){
                            alert('字数超过规定长度！');
                            $(this).focus();
                        }
                    });
                    $('.scroll-wrap').height($(window).height()-$('header').height());
                })
            </script>
        </div>
    </section>
</div>


<include file="Public/footer" />