<include file="Public/header" title="商户设置" />
<section class="rt_wrap content mCustomScrollbar">
    <div id="page-wrapper">
        <form action="{:U('setup/update_gro')}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>商户logo</label>
                <if condition="empty($groceryInfo['logo']) || $groceryInfo['logo']=='没有文件被上传！'"><p><img src="/Public/uploads/home/default.jpeg" style="height: 100px"></p>
                    <else /><p><img src="{$groceryInfo['logo']}" style="height: 100px"></p>
                </if>

            </div>
            <div class="form-group">
                <label>商户编号</label>
                <input type="text" class="form-control" value="{$groceryInfo['numbering']}" readonly>
            </div>
            <div class="form-group">
                <label>商户名称</label>
                <input type="text" class="form-control" value="{$groceryInfo['name']}" name="name">
            </div>

            <!--<div class="form-group">
                <label>邀请二维码</label>
                <p><img src="/Public/image/qrcode.png" style="height: 100px"></p>
            </div>
-->
        </form>
    </div>
</section>


<include file="Public/footer" />
<script>
    $(function () {
        $('select').attr("disabled",true);
        $('.form-control').attr("readonly","readonly");
    });
</script>