<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta  content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
<title>未登录</title>
<link href='/Public/home/css/no_login.css' type="text/css" rel='stylesheet' />
<script src="/Public/home/js/rem.js" type="text/javascript">
	
</script>
</head>
<body>
	<div class="head">
		<p class="title"><img src="/Public/home/images/title.gif" alt="title"></p>
		<img src="/Public/home/images/bcb.jpg" class="bcb" />
		<p class="remind">您尚未登录</p>
	</div>
	<div id="no_login_main">
		<a href="{:U('user/login')}"><p class="tel">手机账号登录</p></a>
		<a href="{:U('user/registerf')}"><p class="reg">没有账号,去注册>></p></a>
	</div>
	<div class="foot">
		<ul>
			<li><a href="{:U('choice/index')}"><img src="/Public/home/images/nav1.jpg" alt="#" /><p>精选</p></a></li>
			<li><a href="{:U('course/index')}"><img src="/Public/home/images/nav2.jpg" alt="#" /><p>课程</p></a></li>
			<li><a href="{:U('article/index')}"><img src="/Public/home/images/nav3.jpg" alt="#" /><p>文章</p></a></li>
			<li><a href="#"><img src="/Public/home/images/nav4_2.jpg" alt="#" style="color:#98d261" /><p>我</p></a></li>
		</ul>
	</div>
	
</body>
</html>
