<ul class="nav navbar-nav side-nav">
    <li><a href="{:U('index/index')}"><i class="fa fa-dashboard"></i> 我的主页</a></li>
    <li class="dropdown">
        <a href="{:U('order/index')}"><i class="fa fa-reorder"></i> 我的订单(<span style="color: red">{$_SESSION['no_process']}</span>)</a>
    </li>
    <li class="dropdown">
        <a href="{:U('course/index')}"><i class="fa fa-edit"></i> 我的课程</a>
    </li>
    <li class="dropdown">
        <a href="{:U('article/index')}"><i class="fa fa-file-text-o"></i>  我的文章</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 我的设置 <b class="caret"></b></a>
        <ul class="dropdown-menu" >
            <li><a href="{:U('setup/index')}"><i class="fa fa-gear"></i> 账户信息</a></li>
            <li><a href="{:U('setup/branch_list')}"><i class="fa fa-gear"></i> 分校列表</a></li>
        </ul>
    </li>

</ul>