<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台登录</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css" />
    <style>
        body{height:100%;background:#16a085;overflow:hidden;}
        canvas{z-index:-1;position:absolute;}
        #verify{
            float: right;
        }
    </style>
    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/Particleground.js"></script>
    <script>
        $(document).ready(function() {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
        });
    </script>
</head>
<body>
<dl class="admin_login">
    <dt>
        <strong>商户后台管理系统</strong>
        <em>Management System</em>
    </dt>
    <form action="{:U('login/login')}" method="post">
        <dd class="user_icon">
            <input type="text" name="username" placeholder="账号" class="login_txtbx"/>
        </dd>
        <dd class="pwd_icon">
            <input type="password" name="password" placeholder="密码" class="login_txtbx"/>
        </dd>
        <dd class="val_icon">
            <div class="checkcode">
                <input type="text" id="J_codetext" name="verify" placeholder="验证码" maxlength="4" class="login_txtbx">
            </div>
            <div id="verify">
                <a href="javascript:void(0)"><img class="verify" src="{:U('login/verify')}" alt="点击刷新"/></a>
            </div>
        </dd>
        <dd>
            <input type="submit" value="立即登陆" class="submit_btn"/>
        </dd>
    </form>

    <dd>
        <p>© 2015-2016 小宝课堂 版权所有</p>
        <p>陕B2-20080224-1</p>
    </dd>
</dl>
<script>
    $(function(){
        $(".verify").click(function(){

            var src = "{:U('login/verify')}";
            var random = Math.floor(Math.random()*(1000+1));
            $(this).attr("src",src+"&random="+random);
        });
    })
</script>
</body>
</html>
