<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>添加文章</title>
    <!--<link href="__STATIC__/css/bootstrap.css" rel="stylesheet">-->
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css" />
    <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="[css]">
    <!--[if lt IE 9]>

    <![endif]-->
    <script src="__STATIC__/js/jquery-1.10.2.js"></script>
    <script src="__STATIC__/js/bootstrap.js"></script>
    <script src="__STATIC__/js/app.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script src="__STATIC__/js/prettify.js"></script>

    <script>
        (function($){
            $(window).load(function(){

                $("a[rel='load-content']").click(function(e){
                    e.preventDefault();
                    var url=$(this).attr("href");
                    $.get(url,function(data){
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo","h2:last");
                    });
                });

                $(".content").delegate("a[href='top']","click",function(e){
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
                });

            });
        })(jQuery);
    </script>
</head>
<body>
<!--header-->
<header>
    <h1><img src="__STATIC__/images/admin_logo.png"/></h1>
    <ul class="rt_nav">
        <li><a href="http://www.123bcb.com" target="_blank" class="website_icon">站点首页</a></li>
        <li><a href="#" class="admin_icon">{:session('username')}</a></li>
        <li><a href="{:U('index/setup')}" class="set_icon">修改密码</a></li>
        <li><a href="{:U('login/logout')}" class="quit_icon">安全退出</a></li>
    </ul>
</header>

<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="{:U('index/index')}">起始页</a></h2>
    <ul>
        <li>
            <dl>
                <dt>会员管理</dt>
                <!--当前链接则添加class:active-->
                <dd><a href="{:U('member/index')}">普通会员</a></dd>
                <dd><a href="{:U('member/groceryMember')}">商户会员</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>分类管理</dt>
                <dd><a href="{:U('category/index',array('tab'=>1))}">分类列表</a></dd>
                <dd><a href="{:U('category/add')}">添加分类</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>文章管理</dt>
                <dd><a href="{:U('article/index')}">文章列表</a></dd>
                <dd><a href="{:U('article/add')}">添加文章</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>课程管理</dt>
                <dd><a href="{:U('course/index')}">课程列表</a></dd>
                <dd><a href="{:U('course/add')}">创建课程</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>订单管理</dt>
                <dd><a href="{:U('order/index')}">订单列表</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>链接管理</dt>
                <dd><a href="{:U('links/index')}">链接列表</a></dd>
            </dl>
        </li>
       <!-- <li>
            <dl>
                <dt>积分管理</dt>
                <dd><a href="{:U('point/index')}">积分列表</a></dd>
            </dl>
        </li>-->
        <li>
            <p class="btm_infor">© 小宝课堂 版权所有</p>
        </li>
    </ul>
</aside>
<script>
    $(function(){
        $('a').each(function () {
            var href = window.location.href;
            if(href.indexOf($(this).attr('href')) != -1 && $(this).attr('href') !='http://www.123bcb.com'){
                $(this).addClass('active');
                return false;
            }
        });
    });
</script>

<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath : '__PUBLIC__/kindeditor/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson : '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager : true,
            afterCreate : function() {
                var self = this;
                K.ctrl(document, 13, function() {
                    self.sync();
                    K('form[name=article]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function() {
                    self.sync();
                    K('form[name=article]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
<div class="scroll-wrap" style="height: 800px;overflow-y:scroll;">
    <section class="rt_wrap content mCustomScrollbar _mCS_2">
        <div id="page-wrapper">
            <form method="post" name="article" action="{:U('article/add')}" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{$article['id']}">
                <div class="form-group">
                    <label for="aa">文章标题</label>
                    <input type="text" name="title" class="form-control" id="aa" placeholder="输入课程名称" value="{$article['title']}">
                </div>
                <div class="form-group">
                    <label for="bb">文章图片</label>(请上传尺寸为233*146，小于2M的图片)
                    <p><img src="{$article['image']}" class="aimg"></p>
                    <input type="file" name="image"  id="bb">
                </div>
                <div class="form-group">
                    <label for="dd">文章类别</label>
                    <select id="select_1" name="cate" class="form-control">
                        <option>--未选择--</option>
                        <foreach name="cate" item="v">
                            <option value="{$v['title']}" >{$v['title']}</option>
                        </foreach>
                    </select>
                </div>
                <div class="form-group">
                    <label>商户会员</label>
                    <p>
                        <select name="groid" class="form-control">
                            <foreach name="grolist" item="g" >
                                <option value="{$g['id']}" >{$g['name']}</option>
                            </foreach>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    <label for="dd">文章内容</label>
                    <textarea name="content" style="width:700px;height:200px;visibility:hidden;">{$article['content']}</textarea>
                </div>
                <button type="submit" class="btn btn-default">保存</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1)">取消</button>

            </form>
            <script>
                $('.scroll-wrap').height($(window).height()-$('header').height());
            </script>
        </div>
    </section>
</div>


<include file="Public/footer" />