<include file="Public/header" title="添加分校" />
<section class="rt_wrap content mCustomScrollbar _mCS_2">
    <p class="btn btn-success" style="margin-bottom: 5px;margin-top: 5px;">{$gro_name}</p>
    <form action="{:U('member/add_branch')}" method="post" id="branch">
        <input type="hidden" name="groId" value="{$groId}">
        <div class="form-group">
            <label>分校名</label>
            <input class="form-control" name="braname" type="text">
        </div>
        <div class="form-group">
            <label>区域</label>
            <P style="margin-top: 5px;">
                <select name="area">
                    <option>--未选择--</option>
                    <foreach name="area" item="v">
                        <option value="{$v['name']}">{$v['name']}</option>
                    </foreach>
                </select>
                <select name="son_area">
                    <option>--未选择--</option>
                </select>
            </P>

        </div>
        <div class="form-group">
            <label>商圈</label>
            <select class="form-control" name="circle">
                <option>--未选择--</option>
                <foreach name="circle" item="v">
                    <option value="{$v['name']}">{$v['name']}</option>
                </foreach>
            </select>
        </div>
        <div class="form-group">
            <label>业务电话</label>
            <input class="form-control" name="telephone" type="text">
        </div>
        <div class="form-group">
            <label>地址</label>
            <input class="form-control" name="address" type="text">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" id="submit">保存</button>
            <button type="button" onclick="javascript:history.back(-1)" class="btn btn-default">取消</button>
        </div>
    </form>

</section>

<include file="Public/footer" />
<script>
    $(function(){
        $('[name=area]').change(function(){
            var pname = $(this).val();
            $.ajax({
                'url':'{:U("member/get_son_area")}',
                'type':'post',
                'data':{'pname':pname},
                'success': function (data) {
                    var html = '<option>--未选择--</option>';
                    for(var i = 0;i < data.length;i ++){
                        html += '<option value="' + data[i]['name'] + '">' + data[i]['name'] + '</option>';
                    }
                    $('[name=son_area]').html('');
                    $('[name=son_area]').append(html);
                }
            });
        });

        $('#branch').submit(function () {
           if($('[name=braname]').val() == '') {
               alert('请填写分校名！');
               return false;
           }

           if($('[name=area]').val() == '--未选择--'){
               alert('请选择区域！');
               return false;
           }

            if($('[name=son_area]').val() == '--未选择--'){
                alert('请选择子区域！');
                return false;
            }

            if($('[name=circle]').val() == '--未选择--'){
                alert('请选择商圈！');
                return false;
            }

            if($('[name=telephone]').val() == ''){
                alert('请填写业务电话！');
                return false;
            }

            if($('[name=address]').val() == ''){
                alert('请填写地址！');
                return false;
            }

            var i = true;
            var url = "{:U('member/check_braname')}";
            $.ajax({
                url:url,
                type:'post',
                data:{
                    'braname':$('[name=braname]').val(),
                    'groId':$('[name=groId]').val()
                },
                success: function (data) {
                    if(data > 1 || data == 1){
                        alert('该分校名已存在！请更换！');
                        i = false;
                    }
                },
                async:false
            });
            
            return i;
        });
    });
</script>
