h2,ul{
	padding:0;
	list-style:none;
}
.createAccount_list li{
	width:400px;
	height:30px;
	line-height:30px;
}
.createAccount_list li input{
	float:right;
	height:26px;
	line-height:26px;
	width:220px;
}
.createAccount{
	padding:20px;
}